$main-font: "Poppins", sans-serif;
$secondary-font: "Playfair Display", serif;
$main-color: #20ac97;
$secondary-color: #3f3a64;
$background-pattern-wavify: url("../assets/img/background-pattern-wavify.png");
$container-max-widths: (
  sm: 540px,
  md: 720px,
  lg: 960px,
  xl: 1140px,
  xxl: 1200px
);
